body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #f9f9f9;
  }
  
  button {
    transition: all 0.3s ease;
  }
  
  button:hover {
    transform: translateY(-2px);
  }
  
  input {
    outline: none;
    border: none;
  }
  
  button:focus,
  input:focus {
    outline: none !important;
  }
  